* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  
    img {
      height: 40px;
      margin-right: 10px;
    }
  
    span {
      font-size: 24px;
      font-weight: bold;
      color: black;
    }
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin-left: 400px;
  
    li {
      margin: 0 15px;
    }
  
    a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }
  }
  
  /* .navbar-links li:hover{
      text-decoration: underline;
      transition: 0.5s ease-in-out ;
  } */
  
  .navbar-auth {
    display: flex;
  
    a {
      text-decoration: none;
      color: black;
      margin-left: 15px;
      padding: 5px 10px;
      border: 2px solid black;
      border-radius: 20px;
      font-size: 14px;
    }
  }
  
  .header_content {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin-left: 171px;
  }
  
  .content {
    text-align: left;
    max-width: 600px;
  }
  
  h2 {
    color: #1d9bf0;
    font-weight: normal;
    padding-bottom: 30px;
  }
  
  h1 {
    font-size: 2em;
    line-height: 1.2;
    margin: 10px 0;
    padding-bottom: 30px;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 30px;
  
    &:hover {
      background-color: #218838;
    }
  }
  
  .personaj2 {
    margin-left: 50px;
    z-index: 5;
    top: 400px;
    position: relative;
    width: 50%;
    left: 175px;
  }
  
  .personaj1 {
    position: relative;
    margin-left: 200px;
    z-index: 1;
    top: -350px;
    left: 200px;
  }
  
  /* sdfghjkl */
  
  .For-Creat {
    .For-Creators-contaner {
      max-width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px 100px;
      gap: 30px;
      grid-template-rows: 700px;
      background-image: url(./asets/img/blask.png);
      background-repeat: no-repeat;
      background-size: cover;
  
      div {
        box-shadow: 0 3px 10px black;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.922);
        overflow: hidden;
        text-align: center;
        padding: 30px 50px;
  
        h2 {
          padding: 20px 0;
          font-size: 30px;
  
          span {
            color: #002aff;
            text-decoration: underline;
          }
        }
  
        p {
          line-height: 1.5;
        }
      }
  
      .blask {
        position: absolute;
      }
    }
  
    .For-Creators-text {
      background-image: url(./asets/img/Vector.png);
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 100%;
      height: 400px;
      display: grid;
      grid-template-columns: 500px 500px;
      gap: 50px;
      padding: 100px 100px;
      color: aliceblue;
  
      div {
        text-align: left;
  
        h2 {
          font-size: 45px;
        }
      }
    }
  }
  
  .Q12021 {
    max-width: 100%;
    padding: 50px 100px;
  
    h3 {
      display: inline-block;
      word-spacing: 310px;
    }
  
    .q12021 {
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 50px 0;
  
      div ol li {
        padding: 7px 0;
      }
    }
  }
  
  .Tokners-is-coming {
    background-image: url(./asets/img/Subtract.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 800px;
    padding: 20px 100px;
  
    .Tokners-is-coming-contaner {
      display: grid;
      grid-template-columns: 540px 740px;
      gap: 50px;
      grid-template-rows: 700px;
  
      div {
        padding: 20px 30px;
        position: relative;
  
        h2 {
          padding: 30px 0;
        }
      }
    }
  }
  
  .Tokners-is-coming-contaner-img {
    background-color: rgb(194, 202, 202);
    border-radius: 40px;
  }
  
  .Tokners-img1 {
    position: absolute;
    left: -200px;
    top: 120px;
  }
  
